@model TopLearn.DataLayer.Entities.User.User
@{
    ViewData["Title"] = "ثبت نام";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">ثبت نام</li>
        </ul>
    </nav>
</div>

<div class="alert alert-success">
    <h2>@Model.UserName عزیز!</h2>
    <p>
        حساب کاربری شما ثبت شد ,ایمیلی حاوی لینک فعالسازی به ایمیل "@Model.Email" ارسال شد,جهت فعالسازی حساب کاربری خود وارد ایمیل شده وروی لینک فعالسازی کلیک کنید.
    </p>
</div>